.register1{
    background-image:url(../public/noise1.png);
    background-size:cover;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    height: 100vh;
    margin: 0px;
    align-items: center;
    text-align: center;
    background-color: #ffffff; 
}
h2{
    font-size: 30px;
}
.register2{
    background-color: #232323;
   height: 700px;
   width: 500px;
   border-radius: 20px;
   box-shadow: 10px 10px 200px 10px  rgba(9, 9, 9, 0.519);
   color: #c8f31d;
   font-family: Sora, sans-serif;
   padding: 10px;
   
}

form{
    
    color: #c8f31d;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}

input{
    width: 300px;
    padding: 20px;
    border-radius: 10px;
}

button{
    cursor: pointer;
    width: 250px;
    padding: 20px;
    border-radius: 10px;
    color: black;
    background-color: antiquewhite;
    
}

button:hover{
    background-color:rgb(244, 222, 192) ;
}

.label1{
    display: flex;
    flex-direction: column;
    text-align: left;
    gap: 5px;
    
    
}

#p1{
    color: white;
    
}
.spa1{
    color: #c8f31d;
    margin-left: 5px;
}

/* ------------------------------------------------------------------ */

.profile{
    background-image:url(../public/noise1.png);
    background-size:cover;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    margin: 0px;
    text-align: center;
    background-color: #232323; 
    
}

.profile >h2{
    color: #c8f31d;
    font-family: poppins, Helvetica, sans-serif;
    
}

.profile1{
    background-color: #1d1d1d;
    display: flex;
    justify-content: center;
    height: 80%;
    margin: 0px;
    text-align: center;
    border-radius: 20px;
    width: 80%;
    padding: 20px;
    gap: 50px;
    
}

    table {
        
        border-collapse: collapse;
        margin: 20px;
        margin-top: 50px;
        text-align: center;
        
    }
    th, td {
        border: 1px solid rgb(147, 141, 141);
        padding: 10px;
        text-align: left;
        
    }
    th {
        background-color: #f2f2f2;
        text-transform: uppercase;
        
    }
    .vertical {
        display: flex;
        flex-direction: column;
    }

    td{
        color: #ffffff;
    }